<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form action="/api/service/" method="get">
        <input  type="search" placeholder="Search" id="search" name="search" href="/api/service/">
        <button type="submit">Search</button>
      </form>
    </div>
    <br>
    <div>
      <form action="/api/create/">
      <input type="submit" value="create">
      </form>
    </div>
    <br>
    <div>
      <form action="/api/service/">
      <input type="submit" value="Search-Task">
      </form>
    </div>
    <br>
    <div>
      <form action="/api/filter/">
        <input type="submit" value="Filter">
        </form>
    </div>
    <br>
    <div>
      <label>Sort by</label>
      <input type="search" name="sort">
    </div>
  
  
  
  