<form action=" " method= POST>
   
    <div>
    <label >Username</label>
    <input type="text" id="username"name="username" placeholder="rohit" required >
    </div>
    <br> 
    <div>
        <label>Email</label>
        <input type="email"  id ="email" name="email" placeholder="email" required>
    </div>
    <br>
    <div>
        <label>Password</label>
        <input type="password"  id ="password" name="password" placeholder="password" required>
    </div>
    <br>
    
    <input type="submit" value="Submit">
</form>